*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Clases */
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 100vh;
}
.headerContainer {
    align-items: center;
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    padding: 1rem 2rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    box-shadow: 2px 2px 9px 1px black;
}
.headerContainer nav ul{
    display: flex;
}
.headerContainer nav ul li{
    margin: 0 1rem;
}
.mainContainer{
    background-color: red;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    flex: auto;
}
/* Parte izquierda */
.parteIzquierda{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}
.parteDerecha{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}
.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 38, 38);
    padding: 2rem;
    color: white;
}
